# Virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Build artifacts
*.egg-info/
dist/
build/

# IDE-specific files
.idea/
.vscode/

# Other temporary files
*.log
*.swp